<ion-header>
  <ion-toolbar>
    <ion-title>Institut list</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button 
  *ngIf="connectedUserRole == 'admin'"
    shape="round"
    expand="block"
    routerLink="/institutes/add-institut"
    routerDirection="root">
    <ion-icon slot="icon-only" name="add"></ion-icon>
    Add institut
  </ion-button>

  <ion-card>
  <ion-item-sliding *ngFor="let institute of institutesList">
    <ion-item (click)='goToClasses(institute._id)'>
      <ion-label>
        {{institute.InstituteName}}
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary" (click)="Institutdetails(institute._id)">
        <ion-icon slot="top" name="more"></ion-icon>
        details
      </ion-item-option>
      <ion-item-option color="secondary"  
      *ngIf="connectedUserRole == 'admin'"
       (click)="editInstitut(institute._id)">
        <ion-icon slot="top" name="create"></ion-icon>
        edit
      </ion-item-option>
      <ion-item-option 
        *ngIf="connectedUserRole == 'admin'"
        color="danger"
        (click)="presentConfirmDelete(institute._id)">
        <ion-icon slot="top" name="trash"></ion-icon>
        trash
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-card>
</ion-content>
