<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="LoginForm">
      <div align="center" style="padding-bottom: 40px">
          <img src="assets/images/logo.png" />
      </div>
    <ion-item lines="inset">
      <ion-input formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.email">
        <ion-text class="ion-padding" color="danger" *ngIf="LoginForm.get('email').hasError(error.type) && (LoginForm.get('email').dirty || LoginForm.get('email').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>



    
    <ion-item lines="inset">
      <ion-input formControlName='password' placeholder='password' [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="PasswordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.password">
        <ion-text class="ion-padding" 
                  color="danger"
                  *ngIf="LoginForm.get('password').hasError(error.type) && (LoginForm.get('password').dirty || LoginForm.get('password').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>
  </form>

  <ion-button expand="block"  [disabled]='!LoginForm.valid'
  routerDirection="root" (click)='loginIn(LoginForm)'>
    Login
  </ion-button>
<div align="center" padding>
  <ion-text color="primary" routerLink='/auth/reset-password/emailnotif'> Forget password ?</ion-text>
</div>
<div align="center">
    <div padding>Don't have an account ?</div>
    <ion-text routerLink='/auth/register' routerDirection="root" color="primary">Create an account</ion-text>
</div>    
</ion-content>
