<ion-header>
  <ion-toolbar>
    <ion-title *ngIf='!EditUserInfo'>Add User</ion-title>
    <ion-title *ngIf='EditUserInfo'>Edit User</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <form  [formGroup]="UsersForm">
    <ion-item lines="inset">
      <ion-input 
      formControlName="firstname" 
      placeholder='first name' required></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.firstname">
        <ion-text class="ion-padding" color="danger" *ngIf="UsersForm.get('firstname').hasError(error.type) && (UsersForm.get('firstname').dirty || UsersForm.get('firstname').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>
    <ion-item lines="inset">
      <ion-input formControlName="lastname" placeholder='lastname' required>
      </ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.lastname">
        <ion-text class="ion-padding" color="danger" *ngIf="UsersForm.get('lastname').hasError(error.type) && (UsersForm.get('lastname').dirty || UsersForm.get('lastname').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>
    <ion-item lines="inset">
      <ion-input formControlName="email" placeholder='email'required>
      </ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.email">
        <ion-text class="ion-padding" color="danger" *ngIf="UsersForm.get('email').hasError(error.type) && (UsersForm.get('email').dirty || UsersForm.get('email').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>
    <ion-item lines="inset" 
      *ngIf='!EditUserInfo'>
      <ion-input formControlName='password' placeholder='password' [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="PasswordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.password">
        <ion-text class="ion-padding" color="danger" *ngIf="UsersForm.get('password').hasError(error.type) && (UsersForm.get('password').dirty || UsersForm.get('password').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>
    <ion-item lines="inset" 
      *ngIf='!EditUserInfo'>
      <ion-input formControlName='confirmpassword' placeholder='confirmpassword' [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="PasswordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.confirmpassword">
        <ion-text class="ion-padding" color="danger" *ngIf="UsersForm.get('confirmpassword').hasError(error.type) && (UsersForm.get('confirmpassword').dirty || UsersForm.get('confirmpassword').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>
    <div  class="ion-padding" 
          color="danger" 
          *ngIf="!UsersForm.get('confirmpassword').errors && UsersForm.hasError('passwordNotMatch') && (UsersForm.get('confirmpassword').dirty || UsersForm.get('confirmpassword').touched)">
      Password and Confirm Password fields should match
    </div>
    <ion-item lines="inset">
      <ion-input formControlName="phone" placeholder='phone'>
      </ion-input>
    </ion-item>
    <ion-item lines="inset">
      <!-- <ion-input formControlName="role" placeholder='role'>
      </ion-input> -->
      <ion-select  lines="inset" formControlName="role" placeholder="role" required>
        <ion-select-option value="admin">admin</ion-select-option>
        <ion-select-option value="cheick">cheikh</ion-select-option>
        <!-- <ion-select-option value="guest">Exam</ion-select-option> -->
      </ion-select>

    </ion-item>
      <ion-select lines="inset"
       multiple="true" 
       cancelText="No" 
       okText="Yes"
       formControlName="institutesids" 
       placeholder='Institutes'>
        <ion-select-option *ngFor="let Institut of listInstitutes" value={{Institut._id}}>{{Institut.InstituteName}}</ion-select-option>
      </ion-select>
  </form>
  <ion-button  
  shape="round"
  expand="block" 
  *ngIf='!EditUserInfo' 
  (click)='addUser(UsersForm)'
   [disabled]='!UsersForm.valid'>submit</ion-button>
  <ion-button  
   shape="round"
   expand="block"  
  *ngIf='EditUserInfo' 
  (click)='UpdateUser(UsersForm)'>Update</ion-button>  
</ion-card>
</ion-content>

