<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form  [formGroup]="registerForm">
      <ion-item lines="inset">
        <ion-input  formControlName="firstname" placeholder='firstname' required></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.firstname">
          <ion-text class="ion-padding" color="danger" *ngIf="registerForm.get('firstname').hasError(error.type) && (registerForm.get('firstname').dirty || registerForm.get('firstname').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-input formControlName="lastname" placeholder='lastname' required>
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.lastname">
          <ion-text class="ion-padding" color="danger" *ngIf="registerForm.get('lastname').hasError(error.type) && (registerForm.get('lastname').dirty || registerForm.get('lastname').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-input formControlName="phone" placeholder='phone'>
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input formControlName="email" placeholder='email' required>
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.email">
          <ion-text class="ion-padding" color="danger" *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
          <ion-input formControlName='password' placeholder='password' [type]="showPassword ? 'text' : 'password'"></ion-input>
          <ion-icon slot="end" [name]="PasswordToggleIcon" (click)="togglePassword()"></ion-icon>
      </ion-item>
           <div>
        <ng-container *ngFor="let error of error_messages.password">
          <ion-text class="ion-padding" color="danger" *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
          <ion-input formControlName='confirmpassword' placeholder='confirmpassword' [type]="showPassword ? 'text' : 'password'"></ion-input>
          <ion-icon slot="end" [name]="PasswordToggleIcon" (click)="togglePassword()"></ion-icon>
        <!-- <ion-input formControlName="confirmpassword" type='password' placeholder='confirmpassword' required>
        </ion-input> -->
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.confirmpassword">
          <ion-text class="ion-padding" color="danger" *ngIf="registerForm.get('confirmpassword').hasError(error.type) && (registerForm.get('confirmpassword').dirty || registerForm.get('confirmpassword').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-text  class="ion-padding" color="danger" *ngIf="!registerForm.get('confirmpassword').errors && registerForm.hasError('passwordNotMatch') && (registerForm.get('confirmpassword').dirty || registerForm.get('confirmpassword').touched)">
        Password and Confirm Password fields should match
      </ion-text>
    </form>

    <!---->

    <ion-button  
    shape="round"
    expand="block" 
    (click)='registerUser(registerForm.value)'
     [disabled]='!registerForm.valid'>submit</ion-button>
  </ion-card>
  
  <div align="center" padding>
    <ion-text color="primary" routerLink="/auth">Go back to login</ion-text>
  </div>
</ion-content>
