<ion-header>
  <ion-toolbar>
    <ion-title>halaqat-list</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button
    *ngIf="connectedUserRole == 'cheick' || connectedUserRole == 'admin'"
    shape="round"
    expand="block"
    (click)="goToAddHalaqa()">
    <ion-icon slot="icon-only" name="add"></ion-icon>
    Add halaqa
  </ion-button>

  <ion-card>
  <ion-item-sliding *ngFor="let halaqa of halaqatList">
    <ion-item (click)='goToAddStudents(halaqa._id)'>
      <ion-label>
        {{halaqa.Halaqaname}}
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary" 
      (click)="Halaqadetails(halaqa._id)">
        <ion-icon slot="top" name="more"></ion-icon>
        details
      </ion-item-option>
      <ion-item-option color="secondary" 
      *ngIf="connectedUserRole == 'cheick' || connectedUserRole == 'admin'"
       (click)="edithalaqa(halaqa._id)">
        <ion-icon slot="top" name="create"></ion-icon>
        edit
      </ion-item-option>
      <ion-item-option 
       *ngIf="connectedUserRole == 'cheick' || connectedUserRole == 'admin'"
        color="danger"
        (click)="presentConfirmDelete(halaqa._id)">
        <ion-icon slot="top" name="trash"></ion-icon>
        trash
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-card>
</ion-content>
