<ion-header>
  <ion-toolbar>
    <ion-title>Students list</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button
    shape="round"
    *ngIf="connectedUserRole == 'cheick' || connectedUserRole == 'admin'" 
    expand="block"
    (click)='goToAddStudent()'
    routerDirection="root">
    <ion-icon slot="icon-only" name="add"></ion-icon>
    Add student
  </ion-button>
  <div>
  <form [formGroup]="StudentFilterForm">
       <ion-select 
       formControlName="Relatedclass" 
       placeholder="Filter by class" 
       (ionChange)="SelectClass($event)" required>
       <ion-select-option
       *ngFor="let class of classList"
       value="{{class._id}}">{{class.Classname}}</ion-select-option>
        <ion-select-option value="All">All</ion-select-option>
      </ion-select>
    </form>
  </div>    
  <ion-card *ngIf="!nodataFound">
  <ion-item-sliding *ngFor="let student of studentsList">
    <ion-item (click)="AddStudentAchievement(student._id)">
      <ion-label>
        {{student.firstname}} {{student.lastname}}
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option 
       color="primary" (click)="Studentdetails(student._id)">
        <ion-icon slot="top" name="more"></ion-icon>
        details
      </ion-item-option>
      <ion-item-option 
        color="secondary"
        *ngIf="connectedUserRole == 'cheick' || connectedUserRole == 'admin'"  
        (click)="editStudent(student._id)">
        <ion-icon slot="top" name="create"></ion-icon>
        edit
      </ion-item-option>
      <ion-item-option 
        color="success"
        *ngIf="connectedUserRole == 'cheick' || connectedUserRole == 'admin'"  
        (click)="createStudentAccount(student._id)">
        <ion-icon slot="top" name="person"></ion-icon>
        account
      </ion-item-option>
      <ion-item-option
        *ngIf="connectedUserRole == 'cheick' || connectedUserRole == 'admin'" 
        color="danger"
        (click)="presentConfirmDelete(student._id)">
        <ion-icon slot="top" name="trash"></ion-icon>
        trash
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-card>
  <ion-card *ngIf="nodataFound">
  <img src="../../../assets/images/iconfinder_stack_1287510.svg">
  <ion-text color="primary" style="text-align: center;"><h1>Empty student list</h1></ion-text>
  </ion-card>
</ion-content>
