<ion-header>
  <ion-toolbar>
    <ion-title>Student account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form  [formGroup]="StudentAccountForm">
            <ion-item lines="inset">
        <ion-input formControlName="email" placeholder='email' required>
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.email">
          <ion-text class="ion-padding" color="danger" *ngIf="StudentAccountForm.get('email').hasError(error.type) && (StudentAccountForm.get('email').dirty || StudentAccountForm.get('email').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-input formControlName="password" type='password' placeholder='password' required>
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.password">
          <ion-text class="ion-padding" color="danger" *ngIf="StudentAccountForm.get('password').hasError(error.type) && (StudentAccountForm.get('password').dirty || StudentAccountForm.get('password').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-input formControlName="confirmpassword" type='password' placeholder='confirm password' required>
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.confirmpassword">
          <ion-text class="ion-padding" color="danger" *ngIf="StudentAccountForm.get('confirmpassword').hasError(error.type) && (StudentAccountForm.get('confirmpassword').dirty || StudentAccountForm.get('confirmpassword').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-text  class="ion-padding" color="danger" *ngIf="!StudentAccountForm.get('confirmpassword').errors && StudentAccountForm.hasError('passwordNotMatch') && (StudentAccountForm.get('confirmpassword').dirty || StudentAccountForm.get('confirmpassword').touched)">
        Password and Confirm Password fields should match
      </ion-text>
    </form>

    <!---->
    <ion-button  
    shape="round"
    expand="block"
     >submit</ion-button>
  </ion-card>
</ion-content>
