<ion-header>
  <ion-toolbar>
    <ion-title>achivements-details</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card *ngIf='achivementsDetails'>
    <ion-item>
      <ion-label>program</ion-label>
      <ion-label *ngIf='achivementsDetails.program; else noData'>{{achivementsDetails.program}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>surah</ion-label>
      <ion-label *ngIf='achivementsDetails.surah; else noData'>{{suratArray[achivementsDetails.surah - 1].name}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>fromVerse</ion-label>
      <ion-label *ngIf='achivementsDetails.fromVerse; else noData'>{{achivementsDetails.fromVerse}}</ion-label>
    </ion-item>
	  
    <ion-item>
      <ion-label>toVerse</ion-label>
      <ion-label *ngIf='achivementsDetails.toVerse; else noData'>{{achivementsDetails.toVerse}}</ion-label>
    </ion-item>
	  
    <ion-item>
      <ion-label>evaluation</ion-label>
      <ion-label *ngIf='achivementsDetails.evaluation; else noData'>{{achivementsDetails.evaluation}}</ion-label>
    </ion-item>
	  
    <ion-item>
      <ion-label>notes</ion-label>
      <ion-label *ngIf='achivementsDetails.notes; else noData'>{{achivementsDetails.notes}}</ion-label>
    </ion-item>
	  
    <ion-item>
      <ion-label>achievDate</ion-label>
      <ion-label *ngIf='achivementsDetails.achievDate; else noData'>{{achivementsDetails.achievDate | date }}</ion-label>
    </ion-item>
  </ion-card>
<ng-template #noData>
 <ion-label>
   N/A
  </ion-label>
</ng-template>
</ion-content>