<ion-header>
  <ion-toolbar>
    <ion-title>achivement-list</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-icon name="person"></ion-icon>
  <ion-label style="padding-left: 30px;" *ngIf='studentInfo?.firstname; else noData'>{{studentInfo?.firstname}} {{studentInfo?.lastname}}</ion-label>
</ion-item>

<ion-content padding>
  <ion-button
    shape="round"
    *ngIf="connectedUserRole == 'admin' || connectedUserRole == 'cheick'"
    expand="block"
    (click)='goToAddAchivement()'
    routerDirection="root">
    <ion-icon slot="icon-only" name="add"></ion-icon>
    Add achivement
  </ion-button>
  <form [formGroup]="FilterForm">
      <ion-select formControlName="program" placeholder="Filter by program" (ionChange)="SelectProgram($event)" required>
        <ion-select-option value="Memorize">Memorize</ion-select-option>
        <ion-select-option value="Revision">Revision</ion-select-option>
        <ion-select-option value="Exam">Exam</ion-select-option>
        <ion-select-option value="">All</ion-select-option>
      </ion-select>
  </form>  
  <ion-card>
  <ion-item-sliding *ngFor="let achivement of achivementsList">
    <ion-item>
      <ion-text>
        {{achivement.program}} -- {{achivement.created_at | date}}
      </ion-text>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary"
       (click)="Achivementdetails(achivement._id)">
        <ion-icon slot="top" name="more"></ion-icon>
        details
      </ion-item-option>
      <ion-item-option color="secondary" 
      *ngIf="connectedUserRole == 'admin' || connectedUserRole == 'cheick'"
       (click)="editAchivement(achivement._id)">
        <ion-icon slot="top" name="create"></ion-icon>
        edit
      </ion-item-option>
      <ion-item-option
      *ngIf="connectedUserRole == 'admin' || connectedUserRole == 'cheick'"
        color="danger"
        (click)="presentConfirmDelete(achivement._id)">
        <ion-icon slot="top" name="trash"></ion-icon>
        trash
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-card>
</ion-content>
