<ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!EditStudentInfo">Add Student</ion-title>
      <ion-title *ngIf="EditStudentInfo">Edit Student</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <form [formGroup]="StudentForm">
        <ion-item lines="inset">
          <ion-input
            formControlName="firstname"
            placeholder="firstname"
            required
          ></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-input
            formControlName="lastname"
            placeholder="lastname"
          ></ion-input>
        </ion-item>
        <ion-select formControlName="gender" 
                    placeholder='gender'>
          <ion-select-option value="m">Male</ion-select-option>
          <ion-select-option value="f">Female</ion-select-option>
        </ion-select>
        <ion-select
         formControlName="status"
         placeholder="status">
          <ion-select-option value="A">Amel</ion-select-option>
          <ion-select-option value="M">Marid</ion-select-option>
        </ion-select>
        <ion-item lines="inset"  *ngIf="StudentForm.value.status == 'M'">
          <ion-input
            formControlName="roomNumber"
            placeholder="roomNumber"
            type='number'
          ></ion-input>
        </ion-item>
        <ion-item lines="inset" *ngIf="StudentForm.value.status == 'M'">
          <ion-input formControlName="level" placeholder="level"></ion-input>
        </ion-item>
        <ion-item lines="inset" *ngIf="StudentForm.value.status == 'M'">
          <ion-datetime 
           displayFormat="MM/DD/YYYY" 
           formControlName="entryDate"
           placeholder="entryDate" 
           value="entryDate">
          </ion-datetime>
        </ion-item>
  
        <ion-item lines="inset" *ngIf="StudentForm.value.status == 'M'">
          <ion-datetime
            displayFormat="MM/DD/YYYY" 
            formControlName="exitDate"
            placeholder="exitDate" 
            value="exitDate">
          </ion-datetime>
        </ion-item>
         <ion-select
            lines="inset"
            formControlName="classId"
            placeholder="Class">
            <ion-select-option
              *ngFor="let class of classList"
              value="{{class._id}}">{{class.Classname}}</ion-select-option>
          </ion-select>
      </form>
      <ion-button
        shape="round"
        expand="block"
        *ngIf="!EditStudentInfo"
        (click)="addStudent(StudentForm)"
        [disabled]="!StudentForm.valid"
        >submit</ion-button
      >
      <ion-button
        shape="round"
        expand="block"
        *ngIf="EditStudentInfo"
        (click)="UpdateStudent(StudentForm)"
        [disabled]="!StudentForm.valid"
        >Update</ion-button
      >
    </ion-card>
  </ion-content>
  