<ion-header>
    <ion-toolbar>
      <ion-title>Student details</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="true"></ion-menu-button>
          <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card *ngIf='studentDetails'>
      <ion-item>
        <ion-label>firstname</ion-label>
        <ion-label *ngIf='studentDetails.firstname; else noData'>{{studentDetails.firstname}}</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>lastname</ion-label>
        <ion-label *ngIf='studentDetails.lastname; else noData'>{{studentDetails.lastname}}</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>gender</ion-label>
        <ion-label *ngIf='studentDetails.gender; else noData'>{{studentDetails.gender}}</ion-label>
      </ion-item>
    <ion-item>
        <ion-label>status</ion-label>
        <ion-label *ngIf='studentDetails.status; else noData'>{{studentDetails.status}}</ion-label>
      </ion-item>
  
      <ion-item *ngIf='studentDetails.roomNumber && studentDetails.status == "M"'>
        <ion-label>roomNumber</ion-label>
        <ion-label>{{studentDetails.roomNumber}} </ion-label>
      </ion-item>
    
      <ion-item *ngIf='studentDetails.level && studentDetails.status == "M"'>
        <ion-label>level</ion-label>
        <ion-label>{{studentDetails.level}}</ion-label>
      </ion-item>
  
    <ion-item *ngIf='studentDetails.entryDate && studentDetails.status == "M"'>
        <ion-label>entryDate</ion-label>
        <ion-label>{{studentDetails.entryDate}}</ion-label>
      </ion-item>
    
      <ion-item *ngIf='studentDetails.exitDate && studentDetails.status == "M"'>
        <ion-label>exitDate</ion-label>
        <ion-label>{{studentDetails.exitDate}}</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>created_at</ion-label>
        <ion-label *ngIf='studentDetails.created_at; else noData'>{{studentDetails.created_at | date }}</ion-label>
      </ion-item>
    </ion-card>
  <ng-template #noData>
   <ion-label>
     N/A
    </ion-label>
  </ng-template>
  </ion-content>
  