<ion-header>
  <ion-toolbar>
    <ion-title *ngIf='!EditClassInfo'>Add Class</ion-title>
    <ion-title *ngIf='EditClassInfo'>Edit Class</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form  [formGroup]="ClassForm">
      <ion-item lines="inset">
        <ion-input  formControlName="Classname" placeholder='name' required></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.Classname">
          <ion-text class="ion-padding" 
                    color="danger"
                    *ngIf="ClassForm.get('Classname').hasError(error.type) && (ClassForm.get('Classname').dirty || ClassForm.get('Classname').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
    </form>
    <ion-button  
      shape="round"
      expand="block" 
      *ngIf='!EditClassInfo' 
      (click)='addClass(ClassForm)'
      [disabled]='!ClassForm.valid'>submit</ion-button>
    <ion-button  
      shape="round"
      expand="block"  
      *ngIf='EditClassInfo' 
      (click)='UpdateClass(ClassForm)' 
      [disabled]='!ClassForm.valid'>Update</ion-button> 
  </ion-card>
</ion-content>