<ion-header>
  <ion-toolbar>
    <ion-title *ngIf='!EditHalaqaInfo'>Add Halaqa</ion-title>
    <ion-title *ngIf='EditHalaqaInfo'>Edit Halaqa</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <form  [formGroup]="HalaqaForm">
    <ion-item lines="inset">
      <ion-input  formControlName="Halaqaname" placeholder='name' required></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.Halaqaname">
        <ion-text class="ion-padding" 
                  color="danger"
                  *ngIf="HalaqaForm.get('Halaqaname').hasError(error.type) && (HalaqaForm.get('Halaqaname').dirty || HalaqaForm.get('Halaqaname').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>
  </form>
  <ion-button  
  shape="round"
  expand="block" 
  *ngIf='!EditHalaqaInfo' 
  (click)='AddHalaqa(HalaqaForm)'
   [disabled]='!HalaqaForm.valid'>submit</ion-button>
  <ion-button  
   shape="round"
  expand="block"  
  *ngIf='EditHalaqaInfo' 
  (click)='UpdateHalaqa(HalaqaForm)' 
  [disabled]='!HalaqaForm.valid'>Update</ion-button>  
</ion-card>
</ion-content>
