<ion-app>
    <ion-menu side="start" menuId="first">
        <ion-header>
            <ion-toolbar>
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-menu-toggle auto-hide="false">
                <ion-item [routerDirection]="'root'" routerLink="/home">
                  <ion-icon slot="start" name="home"></ion-icon>
                  <ion-label>
                    Home
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" routerLink="/institutes" *ngIf="connectedUserRole == 'admin' || connectedUserRole == 'cheick'">
                  <ion-icon slot="start" name="business"></ion-icon>
                  <ion-label>
                    Institutes
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" routerLink="/users" *ngIf="connectedUserRole == 'admin'">
                  <ion-icon slot="start" name="contacts"></ion-icon>
                  <ion-label>
                    Users
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" routerLink="/home" *ngIf="connectedUserRole == 'admin' || connectedUserRole == 'cheick'">
                  <ion-icon slot="start" name="trending-up"></ion-icon>
                  <ion-label>
                    Statistics
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" 
                          routerLink="/home" 
                          *ngIf="connectedUserRole == 'admin' || connectedUserRole == 'cheick'">
                  <ion-icon slot="start" 
                   name="book">
                  </ion-icon>
                  <ion-label>
                    Reports
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" routerLink="/profile">
                  <ion-icon slot="start" name="person"></ion-icon>
                  <ion-label>
                    Profile
                  </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="Logout()" >
                  <ion-icon slot="start" name="log-out"></ion-icon>
                  <ion-label>
                    Logout
                  </ion-label>
                </ion-item>               
              </ion-menu-toggle>
            </ion-list>
          </ion-content>
      </ion-menu>
  <ion-router-outlet  #menuId main></ion-router-outlet>
</ion-app>
