<ion-header>
  <ion-toolbar>
    <ion-title>users-list</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button
    shape="round"
    expand="block"
    routerLink="/users/add-user"
    routerDirection="root">
    <ion-icon slot="icon-only" name="add"></ion-icon>
    Add user
  </ion-button>

  <ion-card>
  <ion-item-sliding *ngFor="let user of usersList">
    <ion-item>
      <ion-label>
        {{user.firstname}} {{user.lastname}}
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary" (click)="userdetails(user._id)">
        <ion-icon slot="top" name="more"></ion-icon>
        details
      </ion-item-option>
      <ion-item-option color="secondary" (click)="editUser(user._id)">
        <ion-icon slot="top" name="create"></ion-icon>
        edit
      </ion-item-option>
      <ion-item-option *ngIf="user.role != 'admin'"
        color="danger"
        (click)="presentConfirmDelete(user._id)"
      >
        <ion-icon slot="top" name="trash"></ion-icon>
        trash
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-card>
</ion-content>
