<ion-header>
  <ion-toolbar>
    <ion-title *ngIf='!EditInstitutInfo'>Add Institut</ion-title>
    <ion-title *ngIf='EditInstitutInfo'>Edit institut</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <form  [formGroup]="InstitutForm">
    <ion-item lines="inset">
      <ion-input  formControlName="InstituteName" placeholder='name *' required></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.InstituteName">
        <ion-text class="ion-padding" 
                  color="danger"
                  *ngIf="InstitutForm.get('InstituteName').hasError(error.type) && (InstitutForm.get('InstituteName').dirty || InstitutForm.get('InstituteName').touched)">
          {{ error.message }}
        </ion-text>
      </ng-container>
    </div>
        <ion-select lines="inset" formControlName="country" placeholder="country">
            <ion-select-option
              *ngFor="let country of countriesArray"
              value="{{country.id}}">{{country.name}}</ion-select-option>
            </ion-select>
    <ion-item lines="inset">
      <ion-input formControlName="city" placeholder='city'>
      </ion-input>
    </ion-item>
  </form>
  <ion-button  
  shape="round"
  expand="block" 
  *ngIf='!EditInstitutInfo' 
  (click)='addInstitut(InstitutForm)'
   [disabled]='!InstitutForm.valid'>submit</ion-button>
  <ion-button  
   shape="round"
  expand="block"  
  *ngIf='EditInstitutInfo' 
  (click)='UpdateInstitut(InstitutForm)' 
  [disabled]='!InstitutForm.valid'>Update</ion-button>  
</ion-card>
</ion-content>
