<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password Link</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-title>Please enter your email </ion-title>
    <form [formGroup]="EmailForm" padding>
      <ion-item lines="inset">
        <ion-input formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.email">
          <ion-text class="ion-padding"
           color="danger" 
           *ngIf="EmailForm.get('email').hasError(error.type) 
           && (EmailForm.get('email').dirty ||
            EmailForm.get('email').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
    </form>
    <ion-button expand="block" [disabled]='!EmailForm.valid' routerDirection="root" (click)='sendResetEmail()'>
      Send 
    </ion-button>
  </ion-card>
</ion-content>

<div align="center" padding>
  <ion-text color="primary" routerLink="/auth">Go back to login</ion-text>
</div>