<ion-header>
  <ion-toolbar>
    <ion-title>Institut details</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="true"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf='institutDetails'>
    <ion-item>
      <ion-label>name</ion-label>
      <ion-label *ngIf='institutDetails.InstituteName; else noData'>{{institutDetails.InstituteName}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>country</ion-label>
      <ion-label *ngIf='institutDetails.country; else noData'>{{institutDetails.country}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>city</ion-label>
      <ion-label *ngIf='institutDetails.city; else noData'>{{institutDetails.city}}</ion-label>
    </ion-item>
  </ion-card>
<ng-template #noData>
 <ion-label>
   N/A
  </ion-label>
</ng-template>
</ion-content>
