<ion-header>
  <ion-toolbar>
    <ion-title>Halaqa details</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf='halaqaDetails'>
    <ion-item>
      <ion-label>name</ion-label>
      <ion-label *ngIf='halaqaDetails.Halaqaname; else noData'>{{halaqaDetails.Halaqaname}}</ion-label>
    </ion-item>
  </ion-card>
<ng-template #noData>
 <ion-label>
   N/A
  </ion-label>
</ng-template>

</ion-content>
