<ion-header>
  <ion-toolbar>
    <ion-title>user-details</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf='userDetails'>
    <ion-item>
      <ion-label>First name</ion-label>
      <ion-label *ngIf='userDetails.firstname; else noData'>{{userDetails.firstname}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>Last name</ion-label>
      <ion-label *ngIf='userDetails.lastname; else noData'>{{userDetails.lastname}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-label *ngIf='userDetails.email; else noData'>{{userDetails.email}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Phone number</ion-label>
      <ion-label *ngIf='userDetails.phone; else noData'>{{userDetails.phone}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Role</ion-label>
      <ion-label *ngIf='userDetails.role; else noData'>{{userDetails.role}}</ion-label>
    </ion-item>







  </ion-card>
<ng-template #noData>
 <ion-label>
   N/A
  </ion-label>
</ng-template>
</ion-content>
