<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!EditAchivementInfo">Add achivement</ion-title>
    <ion-title *ngIf="EditAchivementInfo">Edit achivement</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-icon name="person"></ion-icon>
  <ion-label style="padding-left: 30px;" *ngIf='studentInfo?.firstname'>{{studentInfo?.firstname}} {{studentInfo?.lastname}}</ion-label>
</ion-item>

<ion-content>
  <ion-card>
    <form [formGroup]="AchivementForm">
      <ion-select formControlName="program" placeholder="program" required>
        <ion-select-option value="Memorize">Memorize</ion-select-option>
        <ion-select-option value="Revision">Revision</ion-select-option>
        <ion-select-option value="Exam">Exam</ion-select-option>
      </ion-select>
      <ion-select lines="inset" formControlName="surah" placeholder="surah">
        <ion-select-option
          *ngFor="let sura of suratsArray"
          value="{{sura.surah}}"
          >{{sura.name}}</ion-select-option>
      </ion-select>
      <ion-item lines="inset">
        <ion-input type="number" formControlName="fromVerse" placeholder="fromVerse">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input type="number" formControlName="toVerse" placeholder="toVerse"> </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input formControlName="evaluation" placeholder="evaluation">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input formControlName="notes" placeholder="notes"> </ion-input>
      </ion-item>
      <ion-datetime
        placeholder="MM/DD/YYYY"
        displayFormat="MM/DD/YYYY"
        formControlName="achievDate"
        value="achievDate"
      ></ion-datetime>
    </form>
    <ion-button
      shape="round"
      expand="block"
      *ngIf="!EditAchivementInfo"
      (click)="addAchivement(AchivementForm)"
      [disabled]="!AchivementForm.valid"
      >submit</ion-button
    >
    <ion-button
      shape="round"
      expand="block"
      *ngIf="EditAchivementInfo"
      (click)="UpdateAchivement(AchivementForm)"
      [disabled]="!AchivementForm.valid"
      >Update</ion-button
    >
  </ion-card>
</ion-content>
