<ion-header>
  <ion-toolbar>
    <ion-title>classe-list</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button
  *ngIf="connectedUserRole == 'admin'"
    shape="round"
    expand="block"
    (click)="goToAddClass()"
    routerDirection="root">
    <ion-icon slot="icon-only" name="add"></ion-icon>
    Add classes
  </ion-button>

  <ion-card>
    <ion-item-sliding *ngFor="let classe of classesList">
      <ion-item>
        <ion-label>
          {{classe.Classname}}
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="Classesdetails(classe._id)">
          <ion-icon slot="top" name="more"></ion-icon>
          details
        </ion-item-option>
        <ion-item-option color="secondary" 
        *ngIf="connectedUserRole == 'admin'"
        (click)="editClasses(classe._id)">
          <ion-icon slot="top" name="create"></ion-icon>
          edit
        </ion-item-option>
        <ion-item-option
         *ngIf="connectedUserRole == 'admin'"
          color="danger"
          (click)="presentConfirmDelete(classe._id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          trash
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-card>

</ion-content>
