<ion-header>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="true"></ion-menu-button>
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="goToEditProfile()">
              <ion-icon name="create"></ion-icon>
          </ion-button>
       </ion-buttons> 
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-card *ngIf='userInfo'>
    <ion-item>
      <ion-label><ion-icon name="person"></ion-icon></ion-label>
      <ion-label *ngIf='userInfo.firstname; else noData'>{{userInfo.firstname}} {{userInfo.lastname}}</ion-label>
    </ion-item>
  
  
    <ion-item>
	  <ion-icon name="mail"></ion-icon>
      <ion-label style="text-align:center;" *ngIf='userInfo.email; else noData'>&nbsp; &nbsp; {{userInfo.email}}</ion-label>
    </ion-item>
	
	
    <ion-item>
	  <ion-label><ion-icon name="call"></ion-icon></ion-label>
      <ion-label  *ngIf='userInfo.phone; else noData'>{{userInfo.phone}}</ion-label>
    </ion-item>

    <ion-item *ngIf="connectdUserRole == 'cheick'">
      <ion-label><ion-icon name="business"></ion-icon></ion-label>
      <ion-label fxLayout="column"
       *ngIf='userInstitutes.length != 0; else noData'>
        <li *ngFor="let inst of userInstitutes" >
        {{inst}}
        </li>
      </ion-label>
    </ion-item>



  </ion-card>
<ng-template #noData>
 <ion-label>
   N/A
  </ion-label>
</ng-template>
</ion-content>
