<ion-header>
    <ion-toolbar>
      <ion-title>Edit User</ion-title>
      <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngIf="UsersForm">
     <form  [formGroup]="UsersForm"> 
     <ion-item lines="inset">
        <ion-input  formControlName="firstname" placeholder='First name' required>
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.firstname">
          <ion-text class="ion-padding" color="danger" *ngIf="UsersForm.get('firstname').hasError(error.type) && (UsersForm.get('firstname').dirty || UsersForm.get('firstname').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-input formControlName="lastname" placeholder='Lastname' required>
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.lastname">
          <ion-text class="ion-padding" color="danger" *ngIf="UsersForm.get('lastname').hasError(error.type) && (UsersForm.get('lastname').dirty || UsersForm.get('lastname').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-input formControlName="email" placeholder='Email'required>
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of error_messages.email">
          <ion-text class="ion-padding" color="danger" *ngIf="UsersForm.get('email').hasError(error.type) && (UsersForm.get('email').dirty || UsersForm.get('email').touched)">
            {{ error.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="inset">
          <ion-input formControlName="phone" placeholder='Phone'>
          </ion-input>
        </ion-item>
    </form> 
    <ion-button  
    shape="round"
    expand="block" 
    (click)='UpdateUser(UsersForm)'>submit</ion-button>
  </ion-card>
  </ion-content>
  
  