<ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div>
    <ion-searchbar  
        showCancelButton="true"
         id="searchBar" 
        (keyup)="onSearch($event)">
      </ion-searchbar>

        <ion-item-group *ngIf="!nodataFound">
          <ion-item-divider  
          *ngIf="HalqaList.length!=0" 
          color="medium">Halaqats</ion-item-divider>
                <ion-card *ngFor="let halaqa of HalqaList">
          <ion-item  style="cursor: pointer;"
          (click)="GoToHalqa(halaqa._id)">
              <ion-label>
                  {{ halaqa.Halaqaname }}
                </ion-label>
          </ion-item>     
            </ion-card>

  <ion-item-divider 
  *ngIf="InstitutesList.length!=0" 
  color="medium">Institutes</ion-item-divider>

        <ion-card *ngFor="let Institut of InstitutesList">
  <ion-item (click)="InstitutRedirection(Institut._id)">
  <ion-label>
    {{ Institut.InstituteName }} {{ getinstitutName(Institut) }} {{ Institut.city }}
  </ion-label>
  </ion-item>
        </ion-card>

<!-- <ion-item-divider 
*ngIf="ClassesList.length!=0 " 
color="medium">Classes</ion-item-divider>

      <ion-card *ngFor="let class of ClassesList">
<ion-item (click)="GoToClass(class._id)">
<ion-label>
  {{ class.Classname }}
</ion-label>
</ion-item>
</ion-card> -->

<ion-item-divider 
*ngIf="StudentsList.length!=0" 
color="medium">Students</ion-item-divider>

      <ion-card *ngFor="let student of StudentsList">
<ion-item  (click)="GoToStudent(student._id)">
<ion-label>
  {{ student.firstname }} {{ student.lastname }}
</ion-label>
</ion-item>
</ion-card>
        </ion-item-group>
    </div>
    <img *ngIf="nodataFound" src="../../assets/images/homeLogo.png" style="vertical-align: center;width:100% ; height:100%"> 
</ion-content>

