<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-card *ngIf="CurrentState == 'Wait'" padding>
  Please Wait ...
</ion-card>

<ion-card *ngIf="CurrentState == 'NotVerified'" padding>
  Invalid Link, Please Resend your Email 
</ion-card>

<ion-content  *ngIf="CurrentState == 'Verified'">
  <ion-card padding>
  <form [formGroup]="ResponseResetForm">
    <ion-item lines="inset">
      <ion-input formControlName='newPassword'
       placeholder='New password' 
       [type]="showPassword ? 'text' : 'password'">
      </ion-input>
      <ion-icon slot="end" 
      [name]="PasswordToggleIcon" 
      (click)="togglePassword()"></ion-icon>
  </ion-item>
       <div>
    <ng-container *ngFor="let error of error_messages.newPassword">
      <ion-text class="ion-padding" 
      color="danger" 
      *ngIf="ResponseResetForm.get('newPassword').hasError(error.type) 
      && (ResponseResetForm.get('newPassword').dirty 
      || ResponseResetForm.get('newPassword').touched)">
        {{ error.message }}
      </ion-text>
    </ng-container>
  </div>
  <ion-item lines="inset">
      <ion-input formControlName='confirmPassword' 
      placeholder='confirm Password' 
      [type]="showPassword ? 'text' : 'password'">
    </ion-input>
      <ion-icon slot="end" 
      [name]="PasswordToggleIcon" 
      (click)="togglePassword()"></ion-icon>
  </ion-item>
  <div>
    <ng-container *ngFor="let error of error_messages.confirmPassword">
      <ion-text class="ion-padding" color="danger"
       *ngIf="ResponseResetForm.get('confirmPassword').hasError(error.type)
        && (ResponseResetForm.get('confirmPassword').dirty || 
        ResponseResetForm.get('confirmPassword').touched)">
        {{ error.message }}
      </ion-text>
    </ng-container>
  </div>
  <ion-text  class="ion-padding" color="danger" *ngIf="!ResponseResetForm.get('confirmPassword').errors 
  && ResponseResetForm.hasError('passwordNotMatch') 
  && (ResponseResetForm.get('confirmPassword').dirty ||
  ResponseResetForm.get('confirmPassword').touched)">
    New password and Confirm password fields should match
  </ion-text>
</form>

<ion-button expand="block" 
 [disabled]='!ResponseResetForm.valid'
routerDirection="root" 
(click)='ResetPassword(ResponseResetForm)'>
  Confirm
</ion-button>
</ion-card>
</ion-content>

<div align="center" padding>
  <ion-text color="primary" routerLink="/auth/reset-password/emailnotif">Resend Email</ion-text>
</div>
